<div class="login">
  <div class="box">
    <form class="mx-auto" #loginForm="ngForm">
      <h4 class="text-center">Login</h4>
      <div class="mb-3 mt-4">
        <label class="form-label">User Name</label>
        <input type="text" class="form-control" ngModel name="userName" #userName="ngModel" required>
        <span *ngIf="userName?.errors?.['required'] && userName.touched" class="error">Username is required</span>
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" ngModel #password="ngModel" ngModel name="password" required>
        <span *ngIf="userName?.errors?.['required'] && password.touched" class="error">Password is required</span>
        <div class="form-text mt-3">Forget password ?</div>
      </div>
      
      <button type="submit" (click)="submit(loginForm.value)" class="btn btn-primary mt-3 mb-4">Login</button>
      <h5 class="create">Don't have account <strong routerLink="/signUp">Create account</strong></h5>
    </form>
  </div>
</div>
