.headings{
  height: 60px;
  border: 1px solid rgb(255, 179, 0)
}

.profile{
  font-weight: 600;
  float: right;
  margin: 40px;
  justify-content: center;
}
table{
  border: 2px solid rgb(255, 179, 0);
  border-collapse: collapse;
  margin: 20px;
}
