<button (click)=" viewOwners()">View Hotels Data</button>
<button (click)="viewBookings()">View Booking Data</button>

<div  *ngIf='showHotelData'>
  
  <input class="form-control search-employees" type="search" placeholder="Search" [(ngModel)]="searchText">

  <table class="text-center table-container">
    <thead class="headings">
      <th *ngFor="let headings of headers">
      {{headings}}</th>
    </thead>
    <tbody>
      <tr *ngFor="let hotelData of hotelData |search : searchText">
        <td>{{hotelData.ownerName|titlecase}}</td>
        <td>{{hotelData.ownerMobile}}</td>
        <td>{{hotelData.hotelName}}</td>
        <td>{{hotelData.hotelMobile}}</td>
        <td>{{hotelData.hotelAdderss}}</td>
        <td>{{hotelData.state}}</td>
        <td>{{hotelData.city}}</td>
        <td>{{hotelData.hotelMenu}}</td>
        <td>{{hotelData.roomAvailable}}</td>
        <td><i class="bi bi-trash" (click)=" delete(hotelData.id)"></i></td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="showBookingData">
 
 
  <table class="table table-bordered text-center">
    <thead class="headings">
      <th *ngFor="let headings of bookheaders">
      {{headings}}</th>
    </thead>
    <tbody>
      <tr *ngFor="let bookingData of bookingData">
        <td>{{bookingData.userName}}</td>
        <td>{{bookingData.adhar}}</td>
        <td>{{bookingData.email}}</td>
        <td>{{bookingData.mob}}</td>
        <td>{{bookingData.checkin}}</td>
        <td>{{bookingData.checkout}}</td>
        <td>{{bookingData.adult}}</td> 
        <td>{{bookingData.child}}</td> 
      </tr>
    </tbody>
  </table>
</div>

<div  *ngIf='showMsg' class="text-center">
  <h3>No Data Found</h3>
</div>
