<section id="home" class="banner_wrapper p-0">
  <div class="swiper">
    <div class="swiper-wrapper">
        <div class="slide-caption text-center">
          <div>
            <h1>Welcome to BookHeven</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita, sit? Quos sapiente blanditiis et aperiam </p>
          </div>  
          <div>
            <button class="signin-btn" routerLink="/journeyStart" (click)="dataService.showDialog=true">Sign In</button>
          </div> 
      </div>
    </div>
  </div>
</section>
