.banner_wrapper{

    background-image: url('/assets/images/hotelBg.jpg');
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover; 

   
   background-position: center;
   align-items: center;
   justify-content: center;
   display: flex;
  // background-color: black;
}


h1{
  font-size: 4.75rem;
  line-height: 4.25rem;
  font-weight: 800;
  color:rgb(255, 255, 255);
  margin: 1.25rem;
  text-transform: uppercase;
  text-shadow: 5px 5px #0c0c0c;
  letter-spacing: 0.50rem;
}

.banner_wrapper .swiper .slide-caption p{
  max-width: 50.5rem;
  margin: auto;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px #995bfc;
  font-size: 1.45rem;
  line-height: 2.25rem;
  font-weight: 400;
}
.signin-btn{
  width: 170px;
  padding: 10px;
  font-size: 30px;
  font-weight: 400;
  border-radius: 25px;
  background-color:rgb(128, 0, 255);
  color: #ffffff;
  border: solid 3px white;
  margin: 40px;
}
.signin-btn:hover{
  background-color: rgb(4, 255, 0);
  border:  3px solid rgb(255, 0, 153);
  color: rgb(255, 0, 153);
  
}
